[settings]
backup-base-dir = "/mnt/snap1"
tmp-dir = "/tmp/rustic"
# backup engine to use, "restic" (default) or "rustic"
subsystem-name = "rustic"

[settings.globalvars]
# also built-in 
BTRVOL = "snap1"
CONF_BASE = "/home/osmium/backup"


[repo.cloud]
kind = "s3"
endpoint = "https://s3.some-storage.localdomain"
region = "us-east-1"
access-key-file = "$CONF_BASE/.s3/access.key"
secret-key-file = "$CONF_BASE/.s3/secret.key"
repo-key-file = "$CONF_BASE/repo-s3.password"
path = "/restic-backups"
bucket = "my-bucket"

[repo.localdir]
kind = "local"
path = "$CONF_BASE/local-repo"
repo-key-file = "$CONF_BASE/repo-local.password"
default = true


[[hooks.before-all]]
kind = "btrfs"
action = "snapshot"
subvolume = "/home"
snapshot = "$BDIR"

[[hooks.before-all]]
kind = "command"
command = "du -sh $CONF_BASE/local-repo"

[[hooks.after-all]]
kind = "btrfs"
action = "delete"
subvolume = "$BDIR"


[profiles.documents]
paths = ["$BDIR/Documents"]

[profiles.code]
paths = ["$BDIR/code"]
exclude-paths = [
    ".cache",
    "venv",
    ".venv",
    ".terragrunt-cache",
    "node_modules"
]

[profiles.flatpak-list]
command = "flatpak list"
